* {
    margin:0;
    padding:0;
}

html {
    background-color: #141414;
    color: #ebebeb;
    font-family: Lexend, Roboto, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    padding: 0 80px;
    padding-top: 40vh;

}

.title {
    font-family: Lexend, Roboto, sans-serif;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}

.description {
    margin-top: 20px;
    font-family: Inter, Roboto, sans-serif;
    font-size: 24px;
}

@media (max-width: 768px) {

    .text-container {
        padding: 0 80px;
        padding-top: 50vh;
    }

    .title {
        font-size: 48px;
    }

    .description {
        font-size: 18px;
        padding-right: 20px;
    }
}